@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{ 
    background-image: url( '../imagenes/fondo.2.jpeg'); 
    font-size: 25px;
}

header{ 
    display: flex; 
    justify-content: space-between;
    align-items:stretch; 
}

 header a { 
    text-decoration: none;
 }

 #logo {
    width: 125px;  
    height: 125px; 
    border-radius: 50%;
    margin-right: 40px;
    transition: 1s;
}

#logo:hover{
    transform: rotate( 15deg);
    transition:1s;
}

#titulo{ 
    font-family: 'Mochiy Pop One', sans-serif;
    align-items:center;
    color:midnightblue; 
    text-shadow: 7px 5px black;
    font-size: 100px;
    margin: 0px;
    transition:0.5s ;
}

#titulo:hover{
    letter-spacing: 10px; 
    transition:0.5s ;
}

#libro-seleccionado{
    text-align: center;   
}

#lista { 
    min-width: 230px;
    text-align: center;
} 

#lista button{ 
    background-color:darkcyan;
    color:white;
    display: block; 
    margin-bottom: 10px; 
    width: 97%;
    font-family: 'Acme', sans-serif;
    text-shadow: 1px 1px black;
    font-size: 20px;
    padding: 10px;
    border-style: none;
    border-bottom-style: solid;
    border-width: 4px;
    border-color:navy;
    border-radius: 7px;
    transition: .7s;
    cursor: pointer;
}

#lista button:hover,
#lista button.selec { 
    background-color:grey;
    border-color:darkcyan;
    width:100% ;
    transition: .7s ;
}

#contenido-principal{  
    display: flex; 
    align-items: stretch;
    justify-content: space-evenly;
}

.fondo-interno{ 
    background-color: rgba(255, 255, 255, 0.616); 
    margin: 10PX; 
    padding: 25px; 
    border-radius: 20px; 
} 

.centrado {
    display: flex;
    align-items: center;
  }

h2{ 
    font-family: 'Bubblegum Sans', cursive; 
    color:black; 
    font-size: 40px;
    margin: 5px;
}

div p  {
    font-family: 'Indie Flower', cursive;
    color: rgb(0, 0, 0);
    text-align: center; 
}

.imagenes{ height: 300px;}

#libro-seleccionado{
    text-align: center;   
}

.caja  { 
    text-align:center;
    background-color: cornflowerblue;
    border-style:solid;
    border-color: rgb(114, 113, 113);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    transition: 0.5s;
}

.caja:hover{
    border-color: cornflowerblue;
    background-color: black;
    transition: 0.5s;
 }

.caja h2 { 
    margin-top: 15px;
    color:deepskyblue;
    transition: 0.5s;
}

.caja:hover h2{ 
    color: white;
    transition: 0.5s;
}

.caja img{ 
    height: 350px;
    border-radius: 20px;
}

#ligs a{
    border-radius: 20px;
    background-color:darkcyan;
    color: white;
    padding: 25px;
    border-bottom-style: solid;
    border-color: navy;
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    margin: 25px;
    transition: .7s;
}

#ligs a:hover{
    background-color: grey;
    border-color: darkcyan;
    transition: .7s;
}

.sub-p{
    text-decoration: none;
    color: deepskyblue;
    font-family: 'Acme', sans-serif;
    border-radius: 7px;
    border-bottom-style: solid;
    background-color: rgb(107, 103, 103);
    padding: 7px;
    border-color: deepskyblue;
    transition: 0.7s;
}
.sub-p:hover{
    background-color: white;
    border-color: deepskyblue;
    transition: 0.7s;
}